.outline_red {
 outline: solid red;
}

.outline_green {
 outline: solid green;
}

.outline_blue {
 outline: solid blue;
}

.outline_black {
 outline: solid black;
}

.outline_white {
 outline: solid white;
}
