
header,footer {
    text-align: center;
    overflow:hidden;
    background-color:#000;
}
header *,
footer *{
    color: #fff;
}
.thx-form {
   display: none;
   opacity: 0; 
   transition: all 1s;
   outline: solid black;
   padding: 15px;
}
.thx-form__on {
    display: block;
    opacity: 1;
}

