
* {
    box-sizing: border-box;
}
html,body {
    position: relative;
    font-family: Arial;
}
header,footer {
    padding: 15px;
    text-align: center;
    overflow:hidden;
    background-color: #24292e;
    color: #fff;
}
header *,
footer * {
    color: #fff;
}

header h1 a {
 text-decoration: none;
}

p {
    padding-right: 30px;
}
.g\@1x2 {
    display: table;
}
.g\@1x2 .col {
    width: 50%;
    display: table-cell;
    vertical-align: top;

}

div.img {
height: 10em;
width: 100%;
display: inline-block;
background-color: #bbb;
outline: solid #ccc;
}

.overlay-screen {
 width: 100%;
 height: 100%;
 position: fixed;
 display: flex;
 justify-content: center;
 align-items: center;
 background-color: #fff;
 opacity: 1;
 transition: opacity .9s;
 z-index: 999;
}

.Loading-ico {
 width: 2em;
 height: 2em;
 background-color: #000;
 animation: 1s linear 0s infinite normal Loading;
}

@keyframes Loading {
from { transform: rotate(0deg); }
to { transform: rotate(360deg);}
}


.ttO_red {
 outline: solid red;
}

.ttO_blue {

 outline: solid blue;

}

.ttO_black {
 outline: solid black;
}


.ttO_white{
 outline: solid white;
}


@media (max-width:720px) {
.g\@1x2 .col {
    display: table-row;
    }
}

.to_top {
    text-align: right;
}
.to_top a {
    display: inline-block;
    padding: 10px;
    background-color: #000;
    color: #fff;
    text-decoration: none;
    
}

.thx-form {
   display: none;
   opacity: 0; 
   transition: all 1s;
   outline: solid black;
   padding: 15px;
}
.thx-form__on {
    display: block;
    opacity: 1;
}
main {
position: relative;
}
section {
    /*padding:0 15px 0 15px;*/
}

section > div {
    max-width: 1200px;
    margin: 0 auto;
    margin-bottom: 30px;
    padding: 15px;
} 

form textarea {
    vertical-align: top;
}

form input,
form select,
form textarea {
 margin: 5px 0;

}
